@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Rubik&display=swap');

#content{
  margin: 0 auto;
}

content {
  max-width: 1600px;
}

header {
  background-color: rgba(20,30,13, 0.7);
  display: grid;
  grid-template-columns: 150px auto;
}

body {
    background-color: lightblue;
    font-family: "Nunito", "IBM Plex Sans","Rubik";
    font-size: 22px;
    margin: 0;
    padding: 0;

  }
  
h1 {
    color: navy;
    margin-left: 20px;
}

h2{
  margin: 0;
}

nav a{
  background-color: #595959;
  text-decoration: none;
  color: #fcfbfb;
  text-align: center;
  padding: 0.1px;
  display: flex;
  justify-content: space-around;
}

footer{
  padding:25px, 50px;
  background-color: #fcfbfb;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  text-decoration: none;
}

footer p{
  font-size: 1.2em;
}

footer p a:hover{
  text-decoration: underline;
}

footer .social img{
  padding-top: 15px;
}

main section{
  text-align: center;
}

content{
  text-align: center;

}



.home-title {
    font-family: "Nunito", "IBM Plex Sans", "Rubik";
    font-size: 2em;
}



main section img{
  box-sizing: border-box;
}



footer{
  margin-top: 200px;
}

#background {
  height: 725px;
}



